@keyframes fantasma{
    0% { opacity: 100%; }
    50% { opacity: 100%; transform: translateY(20px); transform: scale(2); }
    100% { opacity: 100%; }
}

*{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

h1, h2{
    text-align: center;
    color: rgb(38, 0, 255);
    background-color: rgb(0, 0, 0);
}

button:hover{
    transition: 1.5s;
    background-color: rgb(38, 0, 255);
    color: white;
}

#icone{
    bottom: 6vh;
    right: 40px;
    position: absolute;
    width: 5vh;
    height: 5vh;
    margin-right: 87vh;
}

#icone:hover{
    animation: fantasma 2s infinite;
}

body{
    height: 200vh;
    background-color: rgba(0, 0, 0, 0.753);
}

.bg{
    background-image: url(../img/massaguacu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    font-family: 'Alfa Slab One', cursive;
    background-color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 9vh;
}

p{
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;   
}

iframe{
    height: 720px;
    width: 1280px;
    margin-left: 35px;
}

ul{
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: left;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

.yt{
    margin-left: 160vh;
    margin-top: -18vh;
}

.formulario{
    display:flexbox;
    height: 35vh;
    background-color: white;
    color: rgb(0, 0, 0);
    font-weight: 600;
    border: 4px rgb(55, 0, 255) solid;
}

footer{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 0.6vh;
}
 
img{
    width: 5vh;
    height: 5vh;
    margin-bottom: -110vh;
}

.descricao{
    text-align: center;
    color: rgb(38, 0, 255);
}
.ponto{
    margin-left: 120vh;
}
.maior{
    margin-left: 20vh;
}
.sub{
    margin-right: 100px;
}
.p{
    color:rgb(38, 0, 255);
}